{% extends 'poll_base.html' %}

{% block title %}Poll Info - {{ poll.title }}{% endblock %}

{% block main_content %}

        <div class="quiz-container">
            <h1>{{ poll.title }}</h1>
            {% if poll.description %}
                <p><strong>Description:</strong> {{ poll.description }}</p>
            {% endif %}
            <div style="margin-top: 20px;">

                    <button onclick="window.location.href='/course/{{ course_id }}/poll/{{ poll.id }}/start'">Start Poll</button>
                    <button style="margin-left: 10px; background: #6c757d;" onclick="window.location.href='/course/{{ course_id }}/poll'">Back to List</button>
            </div>
        </div>

    
    </div>
{% endblock %}